/* Hide scrollbar for Chrome, Safari and Opera */
.removeScrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.removeScrollbar {
  -ms-overflow-style: none;
}

.modalSubmitButton:hover {
  background-color: red;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}

.iframeHide {
  display: none;
}

.iframeShow {
  display: block;
}
