.text-blue {
  color: #0ddce3;
}
.text-green {
  color: rgb(0, 229, 234);
}
.text-red {
  color: #eb0c0c;
}

* {
  box-sizing: border-box;
}

ul.cat-list li {
  display: inline-block;
  padding: 5px;
  margin: 2px;
  background-color: #f2f2f2;
}
ul.action-icon li {
  display: inline-block;
  margin: 3px 3px;
}
ul.action-icon li a .act-icon {
  font-size: 16px;
}
.wrapper div.wrap-right .wrap-data {
  padding: 20px 5px 60px 5px;
}
.video-div {
  width: 100%;
  height: 400px;
}
.video-modal .modal-dialog {
  max-width: 650px;
}
.video-modal .modal-title {
  font-size: 20px;
  font-weight: 600;
}

/*===================== popup css ====================*/

.advsearch-data {
  overflow-y: scroll;
  max-height: 500px;
  padding: 10px 10px;
  float: left;
  max-width: 300px;
  width: 100%;
  position: absolute;
  right: -300px;
  top: 63px;
  border: 1px solid #f5f5f5;
  z-index: 9;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  background: #fff;
}
.advsearch-data.active {
  right: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.search-btn {
  clear: both;
  position: relative;
  text-transform: uppercase;
  width: 100%;
  text-align: left;
  display: block;
  padding: 10px 10px;
  font-size: 14px;
  font-weight: 500;
  background-color: #f2f2f2;
  color: #333;
  margin-bottom: 10px;
}
.search-btn[aria-expanded="true"]:after {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  z-index: 1111;
  content: "";
  background-image: url("../constants/images/up-arrow.png");
  background-repeat: no-repeat;
  background-position: center right;
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
  transition: all 0.4s;
}
.search-btn[aria-expanded="false"]:after {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  z-index: 1111;
  content: "";
  background-image: url("../constants/images/down-arrow.png");
  background-repeat: no-repeat;
  background-position: center right;
  font-size: 13px;
  transition: all 0.4s;
  color: #777;
  float: right;
  margin-left: 5px;
}
.advsearch-data .search-form1 form ul li.form-group {
  margin-bottom: 10px;
  border-radius: 0px;
}
.advsearch-data .search-form1 form ul li.form-group .form-control {
  font-size: 13px;
}
.advsearch-data .search-form1 form ul li.form-group label {
  font-size: 13px;
}
.clr-btn {
  padding: 8px 15px;
  color: #fff;
  font-size: 14px;
  display: inline-block;
  text-align: center;
  background-color: #23282d;
}
.clr-btn:hover {
  background-color: rgb(0, 229, 234);
}
.search-form1 {
  padding: 10px 5px;
}

/*==================== blog css 22 may ==========================*/
.blog-data {
  padding: 20px 20px;
  float: left;
  max-width: 300px;
  width: 100%;
  position: absolute;
  right: -300px;
  top: 63px;
  border: 1px solid #f5f5f5;
  z-index: 9;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  background: #fff;
}
.blog-data.active {
  right: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.blog-data .input-group {
  border: 1px solid #f2f2f2;
}
.blog-data .blog-title {
  font-size: 18px;
  padding: 15px 0px 5px 0px;
  font-weight: 600;
}
.blog-data ul li a {
  display: block;
  font-size: 15px;
  padding: 10px 0px;
  color: #333;
  transition: all 0.3s;
}
.blog-data ul li:hover a {
  color: rgb(0, 229, 234);
  background-color: #f2f2f2;
  padding-left: 15px;
}
.blog-setwrap {
  width: 100%;
  float: left;
  padding: 0px 15px;
}
.blog-setwrap form {
  background-color: #fff;
  padding: 30px;
  width: 100%;
  float: left;
}
.custom-control-input:checked ~ .custom-control-label::before,
.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  color: #fff;
  background-color: rgb(0, 229, 234);
  border-color: #b3d7ff;
}

/*==================== web pages inner pages ============================*/
.web-wrap {
  width: 100%;
  float: left;
  padding: 0px 15px 20px 0px;
  box-sizing: border-box;
}
.web-wrap .web-left {
  width: 40%;
  float: left;
  padding: 10px 10px;
}
.web-wrap .web-right {
  width: 60%;
  float: left;
  padding: 10px 10px;
}
.web-wrap .web-left .web-cont,
.web-wrap .web-right .web-cont {
  width: 100%;
  float: left;
  background-color: #fff;
  padding: 20px 10px;
  box-sizing: border-box;
}
.web-title h3 {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  padding: 10px 10px;
  background-color: rgb(0, 229, 234);
}
.web-cont-in {
  padding: 20px 10px;
  box-sizing: border-box;
}

form .form-group {
  width: 100%;
  float: left;
  margin: 0px 0px 10px 0px;
}
form .form-group label {
  font-size: 14px;
  color: #898484;
  margin-bottom: 10px;
}
form .form-group .form-control {
  font-size: 13px;
  border: 1px solid #f2f2f2;
}

.txt-edit {
  width: 100%;
  float: left;
  background-color: #fff;
  border: 1px solid #f2f2f2;
}

#menuBarDiv_txtEditor {
  border: 1px solid #f2f2f2;
  background-color: #f5f5f5;
}
.Editor-editor {
  padding: 15px;
  overflow-y: scroll;
  height: 400px;
}

/*============== 23 may =================================*/
.category-wrap,
.drop-filewrap {
  width: 100%;
  padding: 15px;
}
/*.drop-filewrap { width: 100%; float: left; padding: 15px; }*/
.category-wrap .category-div {
  width: 25%;
  float: left;
  padding: 10px 10px;
}
.category-wrap .category-div .category-cont {
  width: 100%;
  padding-bottom: 10px;
  float: left;
  background-color: #fff;
  text-align: center;
}
.cat-img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px 0px 10px;
  background-color: #efebeb;
  margin-bottom: 10px;
  height: 160px;
  object-position: center center;
  object-fit: cover;
}
.cat-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.page-action2 a.button {
  min-width: 35px;
}
.subtitle h2 {
  font-size: 18px;
  padding: 10px 20px;
  font-weight: 500;
  text-transform: uppercase;
}
.file-cont {
  position: relative;
  width: 100%;
  height: 300px;
  text-align: center;
  background-color: #fff;
  margin-bottom: 10px;
}
.file-cont .form-control-file {
  display: inline-block;
  width: auto;
  text-align: center;
}
.file-cont form {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 3px dashed #dfdada;
  padding: 70px 0px;
}
.file-cont form p {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 40px;
  color: #cfcece;
  font-size: 25px;
  font-weight: 600;
  font-family: Arial;
}
.file-cont form .svg-inline--fa.fa-w-16 {
  color: #cfcece;
}
.file-cont form input {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0px;
  right: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
}

/*=================== product tab css================*/
.update-wrapp {
  width: 100%;
}
.btn-wrapp {
  display: block;
  padding: 5px 10px;
  width: 100%;
  clear: both;
}

/*==================== 26 may =========================*/
.Editor-container {
  margin-top: 0px !important;
}
ul.avail-var {
  padding: 15px 15px;
  background-color: #f2f2f2;
}
ul.avail-var li a {
  display: block;
  padding: 3px 0px;
  margin: 3px 0px;
  color: #333;
  font-size: 15px;
}
.w-300 {
  width: 300px;
}
form .row {
  margin: 0px -15px !important;
}
.modal .modal-content .file-cont form p {
  font-size: 20px;
}
.anylitic-div {
  width: 100%;
  background-color: #f2f2f2;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 15px 0px;
}
/*  .anylitic-div .anylitic-in{ background-color: #f2f2f2; display: block; }*/
.anylitic-div h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #333;
  display: block;
}
.anylitic-div .icon {
  font-size: 40px;
  color: #333;
  text-align: center;
  color: rgb(0, 229, 234);
}
.any-title h2 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
  color: rgb(0, 229, 234);
}
