/*================ 24 may 2020 ==================================*/
select.form-control {
  height: 38px !important;
}
.rating-count {
  padding: 10px 0px;
}
.w-96 {
  width: 98% !important;
  float: left;
}
.rating-count p {
  font-size: 15px;
  line-height: 20px;
  color: #333;
  margin: 3px 0px;
  display: block;
}
input[type="text"] {
  margin-bottom: 0px;
}
.pro-avail-data {
  padding: 10px 10px;
  float: left;
  max-width: 300px;
  width: 100%;
  position: absolute;
  right: -300px;
  top: 63px;
  border: 1px solid #f5f5f5;
  z-index: 9;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  background: #fff;
}
.pro-avail-data.active {
  right: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.search-form1 {
  width: 100%;
  float: left;
  margin-bottom: 10px;
  background-color: #fff;
}
.note-text {
  font-size: 13px;
  line-height: 18px;
  color: #898484;
  margin-top: 5px;
}
.reward-tbl thead th {
  padding: 5px;
}
.reward-tbl tbody tr td .form-control {
  border: 1px solid #f2f2f2 !important;
  font-size: 14px;
  padding: 5px 10px;
}
.reward-tbl tbody tr td {
  padding: 5px 2px;
}
.product-update-div {
  width: 100%;
  float: left;
  padding: 15px 15px;
}
.product-info-wrap {
  width: 100%;
  float: left;
  background-color: #fff;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #f2f2f2;
}
/*form ul.form-div li.form-group { width: 48%; float: left; margin: 0px 1% 15px 1%; }*/
form ul.form-div,
form ul.form-div.row {
  margin-bottom: 0px !important;
}
form ul.form-div li.form-group {
  margin-bottom: 15px;
}
form ul.form-div li.form-group label {
  font-size: 14px;
  color: #898484;
  margin-bottom: 10px;
}
form ul.form-div li.form-group .form-control {
  font-size: 13px;
  height: 38px;
  line-height: 38px;
}
.input-group-prepend .button {
  background-color: #333 !important;
  color: #fff !important;
}
.search-form1 .tbl-list tbody tr td .form-group .form-control {
  height: 38px;
  margin-bottom: 0px !important;
}
.search-form1 .tbl-list tbody tr td .form-group {
  margin-bottom: 0px;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  height: 38px !important;
  margin-bottom: 0px !important;
}
input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
textarea,
select {
  border: 1px solid #ced4da !important;
}
textarea.form-control {
  height: auto !important;
}
.note-txt {
  font-size: 13px;
  margin-top: 10px;
  color: #898484;
  margin-bottom: 5px;
}
.img-option {
  width: 100%;
}
.img-option ul.cat-list {
  clear: both;
  width: 100%;
  float: left;
}
.img-option ul.cat-list li {
  text-align: center;
  width: 48%;
  float: left;
  background-color: #f2f2f2;
  color: #fff;
  font-size: 13px;
  padding: 5px 8px;
  margin: 0px 1%;
}
.img-option img {
  margin-top: 5px;
}
.img-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 98%;
  margin: 5px 1% 0px 1%;
  height: 100px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #f2f2f2;
  margin-top: 5px;
}
.img-icon img {
  margin: auto;
}
.btn-wrapp {
  margin: 10px 0px;
}

/*==================== 26 may =========================*/
.Editor-container {
  margin-top: 0px !important;
}
ul.avail-var {
  padding: 15px 15px;
  background-color: #f2f2f2;
}
ul.avail-var li a {
  display: block;
  padding: 3px 0px;
  margin: 3px 0px;
  color: #333;
  font-size: 15px;
}
.w-300 {
  width: 300px;
}
