@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
$roboto: "Roboto", sans-serif;
$borderLight: 1px solid #a0a0a0;

$white: #fff;
$txt64: #646464;
$txta0: #a0a0a0;

$green: rgb(0, 229, 234;
$bg64: #646464;
$bga0: #a0a0a0;
$black: #23282d;
$bgf5: #f5f5f5;
$bgWhite: rgba(255, 255, 255, 0.6);

%reset {
  padding: 0px;
  margin: 0;
  outline: 0px;
  border: 0px;
  text-decoration: none;
  list-style-type: none;
}
%flexCenterCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
%bgCenterCenter {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
%imgFitLeft {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: left;
  display: block;
}
%addBf {
  content: "";
  width: 1px;
  height: 13px;
  background: #a0a0a0;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -0.5px;
  margin-top: -7px;
}
@mixin transition($all3s) {
  -webkit-transition: $all3s;
  -ms-transition: $all3s;
  transition: $all3s;
}

@mixin transform($deg45) {
  -webkit-transform: $deg45;
  -ms-transform: $deg45;
  transform: $deg45;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: rgba(130, 130, 130, 0.3);
}
::-webkit-scrollbar-thumb {
  background: rgba(130, 130, 130, 0.5);
  padding: 0px 0px;
}
*,
*:before,
*:after,
ul,
ol {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  @extend %reset;
}

html {
  font-size: 14px;
  width: 100%;
  height: 100%;
  body {
    height: 100%;
    width: 100%;
    font-family: $roboto;
    font-weight: 400;
    color: $black;
    overflow: hidden;
    font-size: 1rem;
    background: $white;
    @extend %bgCenterCenter;
  }
}

/*--------------------*/
a {
  color: $txta0;
  @include transition(all 0.3s);
  text-decoration: none;
  &:hover {
    color: $green;
    text-decoration: none;
  }
}
a.button,
input.button,
button.button {
  display: inline-block;
  margin-right: 5px;
  height: 35px;
  line-height: 1;
  background-color: $black;
  padding: 12px 15px;
  color: $white;
  border: 0px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 400;
  @include transition(all 0.3s);
  min-width: 80px;
  text-align: center;
  &.dropdown-toggle {
    min-width: auto;
  }
  &:hover {
    background: $green;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  display: inline-block;
  width: 100%;
  font-weight: 100;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.6rem;
}

tr {
  border-bottom: $borderLight;
}

td {
  position: relative;
}

em {
  color: $green;
}

input[type="text"],
input[type="password"],
textarea,
select {
  display: inline-block;
  width: 100%;
  height: 38px;
  border: 1px solid transparent;
  background: $white;
  padding: 0px 10px;
  resize: none;
  font-size: 13px;
  font-weight: 400;
  font-family: $roboto;
  color: $txt64;
  @include transition(all 0.3s);
  &:disabled {
    color: $txta0;
  }
}
::-webkit-input-placeholder {
  color: $txta0;
}
::-moz-placeholder {
  color: $txta0;
}
:-ms-input-placeholder {
  color: $txta0;
}
:-moz-placeholder {
  color: $txta0;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @extend %flexCenterCenter;
  z-index: 10;
  background: rgba(255, 255, 255, 1);
  @include transition(all 0.5s);
}
.loader {
  border: 16px solid #e5e5e5;
  border-radius: 50%;
  border-top: 16px solid $green;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.login-container {
  width: 100%;
  height: 100vh;
  @extend %flexCenterCenter;
  .login-box {
    @extend %flexCenterCenter;
    align-items: stretch;
    width: 600px;
    box-shadow: 0px 0px 90px rgba(0, 0, 0, 0.05);
    .welcome {
      @extend %flexCenterCenter;
      width: 40%;
      padding: 20px 40px;
      background: $white;
      img {
        max-width: 100%;
      }
    }
    .login-wrap {
      @extend %flexCenterCenter;
      width: 60%;
      padding: 40px;
      background: $bgf5;
      form {
        float: left;
        width: 100%;
        margin: 0;
        padding: 0;
        position: relative;
        ul {
          float: left;
          width: 100%;
          margin: 0px;
          padding: 0;
          list-style-type: none;
          li {
            float: left;
            width: 100%;
            margin: 0 0 15px 0;
            padding: 0;
            @extend %flexCenterCenter;
            justify-content: flex-start;
            &:last-child {
              margin-bottom: 0;
            }
            a {
              margin-left: 15px;
            }
          }
        }
      }
    }
  }
}

/* Dashboard CSS */
.header {
  @extend %flexCenterCenter;
  justify-content: space-between;
  background: $bgf5;
  height: 60px;
  padding: 5px 0px 5px 20px;
  border-bottom: 1px solid #ddd;
  .nav-left {
    @extend %flexCenterCenter;
    li {
      .hamburger {
        float: left;
        width: 24px;
        height: 21px;
        position: relative;
        @extend %flexCenterCenter;
        margin-right: 15px;
        span {
          width: 100%;
          height: 2px;
          display: block;
          background: $bga0;
          @include transition(all 0.3s);
        }
        &:hover span {
          background: $green;
        }
      }
      .logo {
        float: left;
        height: 35px;
        width: 112px;
        img {
          @extend %imgFitLeft;
        }
      }
    }
  }
  .nav-right {
    @extend %flexCenterCenter;
    li {
      a {
        padding: 15px;
        @extend %flexCenterCenter;
        color: $txt64;
        &.store-front {
          .svg-inline--fa {
            font-size: 20px;
          }
        }
        &.admin {
          .svg-inline--fa.fa-chevron-down {
            font-size: 12px;
            margin-left: 5px;
            margin-right: 0;
            margin-top: 2px;
          }
        }
        .svg-inline--fa {
          font-size: 24px;
          margin-right: 5px;
          color: $txta0;
          @include transition(all 0.3s);
        }
        &:hover {
          color: $green;
          .svg-inline--fa {
            color: $green;
          }
        }
      }
    }
  }
}

.admin-nav {
  float: left;
  max-width: 250px;
  width: 100%;
  position: fixed;
  right: -250px;
  top: 63px;
  border: 1px solid $bgf5;
  padding: 0px;
  z-index: 9;
  @include transition(all 0.3s);
  background: $white;
  ul {
    float: left;
    width: 100%;
    li {
      float: left;
      width: 100%;
      border-bottom: 1px solid $bgf5;
      margin-bottom: 0px;
      background: rgba(255, 255, 255, 0.9);
      a {
        float: left;
        width: 100%;
        padding: 15px;
        font-size: 13px;
        text-transform: uppercase;
        color: $txt64;
        .svg-inline--fa {
          font-size: 16px;
          margin-right: 5px;
          color: $txta0;
          @include transition(all 0.3s);
        }
        &:hover {
          color: $green;
        }
        &:hover .svg-inline--fa {
          color: $green;
        }
      }
      &:last-child {
        border-bottom: 0;
      }
    }
  }
  &.active {
    right: 4px;
    box-shadow: 0 0 10px 0 rgba($color: #000000, $alpha: 0.2);
  }
}

.search-data {
  float: left;
  max-width: 250px;
  width: 100%;
  position: fixed;
  right: -250px;
  top: 63px;
  border: 1px solid $bgf5;
  padding: 0px;
  z-index: 9;
  @include transition(all 0.3s);
  background: $bgf5;
  ul {
    float: left;
    width: 100%;
    li {
      float: left;
      width: 100%;
      border-bottom: 1px solid $bgf5;
      margin-bottom: 0px;
      padding: 5px;
      input,
      select {
        border: 1px solid $bgf5;
      }
      input.button {
        width: calc(100% / 2 - 5px);
        float: left;
        border: none;
      }
    }
    &:last-child {
      border-bottom: 0;
    }
  }
  &.active {
    right: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
}

/* WRAP-LEFT CSS */
.wrapper {
  display: flex;
  height: calc(100% - 60px);
  flex-flow: row wrap;
  position: relative;
  @include transition(all 0.3s);
  .wrap-left {
    width: 250px;
    order: 2;
    height: calc(100% - 0px);
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 0;
    @include transition(all 0.3s);
    background: $white;
    border-right: 1px solid #ddd;
    .main-nav {
      float: left;
      width: 100%;
      position: relative;
      z-index: 2;
      li {
        float: left;
        width: 100%;
        position: relative;
        @include transition(all 0.3s);
        // border-top: 1px solid $bgf5;
        a {
          float: left;
          width: calc(100% - 0px);
          line-height: 15px;
          padding: 15px 45px 15px 20px;
          text-transform: uppercase;
          position: relative;
          font-size: 14px;
          color: $txt64;
          min-height: 42px;
          &.add,
          &.down-arrow {
            padding: 0px;
            width: 45px;
            height: 45px;
            float: right;
            font-weight: 100;
            line-height: 45px;
            text-align: center;
            font-size: 34rem;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
            background: rgba(255, 255, 255, 0.6);
            border: 0;
            @include transition(all 0.3s);
          }
          &.add:before {
            @extend %addBf;
            width: 19px;
            height: 1px;
            margin-top: 0px;
            margin-left: -9px;
            @include transition(all 0.3s);
          }
          &.add:after {
            @extend %addBf;
            width: 1px;
            height: 19px;
            margin-top: -9px;
            margin-left: -0px;
            @include transition(all 0.3s);
          }
          &.down-arrow {
            &:after {
              content: "";
              position: absolute;
              width: 12px;
              height: 12px;
              left: 50%;
              top: 50%;
              margin-top: -10px;
              margin-left: -6px;
              transform: rotate(45deg);
              border-right: 1px solid $bga0;
              border-bottom: 1px solid $bga0;
              @include transition(all 0.3s);
            }
            &:hover {
              &:after {
                border-color: $white;
              }
            }
          }
          &.add {
            &:hover {
              &:before,
              &:after {
                @include transform(rotate(180deg));
              }
            }
          }
        }
        ul {
          float: left;
          width: 100%;
          display: none;
          margin-top: 5px;
          li {
            margin: 0px 0px 4px 0px;
            &:last-child {
              border: 0px;
              margin: 0;
            }
            a {
              background-color: rgba(220, 220, 220, 0.5);
            }
            ul {
              float: left;
              width: 100%;
              display: none;
              margin-top: 5px;
              li {
                margin: 0px 0px 4px 0px;
                &:last-child {
                  border: 0px;
                  margin: 0;
                }
                a {
                  background-color: rgba(220, 220, 220, 0.5);
                }
              }
            }
            ul {
              float: left;
              width: 100%;
              display: none;
              margin-top: 5px;
              li {
                margin: 0px 0px 4px 0px;
                &:last-child {
                  border: 0px;
                  margin: 0;
                }
                a {
                  background-color: rgba(220, 220, 220, 0.5);
                }
                ul {
                  float: left;
                  width: 100%;
                  display: none;
                  margin-top: 5px;
                  li {
                    margin: 0px 0px 4px 0px;
                    &:last-child {
                      border: 0px;
                      margin: 0;
                    }
                    a {
                      background-color: rgba(220, 220, 220, 0.5);
                    }
                  }
                }
              }
            }
          }
        }
        &:hover,
        &.active {
          a {
            background: $bgf5;
            color: $green;
            &.add {
              background: $green;
              &:before,
              &:after {
                background: $white;
              }
            }
            &.down-arrow {
              background: $green;
              &:after {
                border-color: $white;
              }
            }
          }
          ul {
            li {
              a {
                background: rgba(220, 220, 220, 0.5);
                color: $txt64;
                &.add {
                  background: rgba(220, 220, 220, 0.5);
                  &:before,
                  &:after {
                    background: $bga0;
                  }
                }
                &.down-arrow {
                  background: rgba(220, 220, 220, 0.5);
                  &:after {
                    border-color: $bga0;
                  }
                }
              }
              &.active {
                a {
                  background: $white;
                  &.down-arrow {
                    background: $green;
                    &:after {
                      border-color: $white;
                    }
                  }
                }
                ul {
                  li {
                    a {
                      background: rgba(220, 220, 220, 0.5);
                    }
                  }
                }
              }
              &:hover {
                a {
                  color: $green;
                  &.add {
                    &:hover {
                      background: $green;
                      &:before,
                      &:after {
                        background: $white;
                      }
                    }
                    &:before,
                    &:after {
                      background: $green;
                    }
                  }
                  &.down-arrow {
                    background: $green;
                    &:after {
                      border-color: $white;
                    }
                  }
                }
                ul {
                  li {
                    a {
                      background: rgba(220, 220, 220, 0.5);
                      color: $bg64;
                      &.add {
                        background: rgba(220, 220, 220, 0.5);
                        &:before,
                        &:after {
                          background: $bga0;
                        }
                      }
                      &.down-arrow {
                        background: rgba(220, 220, 220, 0.5);
                      }
                    }
                    &.active {
                      a {
                        background: $white;
                        &.down-arrow {
                          background: $green;
                        }
                      }
                      ul {
                        li {
                          a {
                            background: rgba(220, 220, 220, 0.5);
                          }
                        }
                      }
                    }
                    &:hover {
                      a {
                        color: $green;
                        &.add {
                          &:hover {
                            background: $green;
                            &:before,
                            &:after {
                              background: $white;
                            }
                          }
                          &:before,
                          &:after {
                            background: $green;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  div.wrap-right {
    @extend %flexCenterCenter;
    align-content: flex-start;
    flex-direction: row;
    order: 4;
    display: flex;
    flex: 1;
    margin: 0;
    height: calc(100% - 0px);
    @include transition(all 0.3s);
    padding-left: 250px;
    width: 100%;
    background: $bgf5;
    div.page-nav {
      @extend %flexCenterCenter;
      justify-content: space-between;
      height: 50px;
      width: 100%;
      padding: 6px;
      background: $white;
      box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
      .page-nav-left {
        @extend %flexCenterCenter;
      }
      .page-action {
        float: left;
        border-right: 1px solid $green;
        padding-right: 15px;
        margin-right: 6px;
      }
      h1.pg-ttl {
        width: auto;
        height: 20px;
        line-height: 24px;
        font-size: 18px;
        text-transform: uppercase;
        color: $green;
        font-weight: 400;
        padding-left: 8px;
        margin: 0;
      }
    }
    .page-nav-right {
      display: flex;
      align-items: center;
      div.paging {
        display: flex;
        align-items: center;
        padding: 0px 15px;
        border-left: 1px solid #eeeded;
        a {
          @extend %flexCenterCenter;
          width: 27px;
          height: 27px;
          &.next {
            background-color: $bgf5;
            -webkit-border-radius: 0px 5px 5px 0px;
            -moz-border-radius: 0px 5px 5px 0px;
            border-radius: 0px 5px 5px 0px;
            border-left: none;
          }
          &.prev {
            background-color: $bgf5;
            -webkit-border-radius: 5px 0px 0px 5px;
            -moz-border-radius: 5px 0px 0px 5px;
            border-radius: 5px 0px 0px 5px;
            margin-right: 1px;
          }
          &.no-next {
            background-color: $bgf5;
            -webkit-border-radius: 0px 5px 5px 0px;
            -moz-border-radius: 0px 5px 5px 0px;
            border-radius: 0px 5px 5px 0px;
            border-left: none;
          }
          &.no-prev {
            background-color: $bgf5;
            -webkit-border-radius: 5px 0px 0px 5px;
            -moz-border-radius: 5px 0px 0px 5px;
            border-radius: 5px 0px 0px 5px;
            margin-right: 1px;
          }
        }
        .result {
          padding: 0 10px;
        }
        .show-rec {
          width: 35px;
          height: 23px;
          padding: 2px;
          border: none;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          text-align: center;
          background: $bgf5;
        }
      }
    }
    .wrap-data {
      width: 100%;
      height: calc(100% - 50px);
      overflow: auto;
      overflow-y: auto;
      padding: 20px 5px 0 5px;
      .row {
        margin: 0;
        margin-bottom: 30px;
      }
    }
  }
  &.active {
    .wrap-left {
      left: -250px;
    }
    .wrap-right {
      padding-left: 0;
    }
  }
}

.counter-box {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  li {
    h3 {
      float: left;
      width: 100%;
      font-size: 28px;
      font-weight: 600;
      text-align: center;
      position: relative;
      z-index: 1;
    }
    h5 {
      float: left;
      width: 100%;
      font-size: 16px;
      font-weight: 400;
      position: relative;
      z-index: 1;
      margin-bottom: 15px;
    }
    div {
      float: left;
      width: 100%;
      height: 100%;
      background: white;
      padding: 10px;
      position: relative;
      overflow: hidden;
      @include transition(all 0.3s);
      box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
      &:hover {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      }
    }
  }
}

.panel-block {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  h4 {
    font-size: 24px;
    font-weight: 500;
  }
  .media {
    align-items: center;
    float: left;
    width: 100%;
    padding: 15px;
    background: $white;
    @include transition(all 0.3s);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    &:last-child {
      border-right: none;
    }
    .media-img {
      margin-right: 15px;
      font-size: 40px;
      color: $green;
      float: left;
    }
    .media-body {
      float: left;
    }
    .media-footer {
      float: right;
    }
    &:hover {
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
  }
}
div.panel-block {
  .tutorials {
    background: $white;
    padding: 15px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    h4 {
      margin-bottom: 30px;
      text-align: center;
    }
    ul {
      @extend %flexCenterCenter;
      width: 100%;
      li {
        .button {
          padding: 15px;
          height: auto;
          width: 100%;
        }
      }
    }
  }
  &.video {
    height: 477px;
    width: 100%;
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}
.trial-bottom {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 9;
  text-align: center;
  background: $green;
  padding: 15px;
  p {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 400;
    color: $white;
    a {
      font-size: 14px;
      margin-left: 10px;
    }
  }
}

table.tbl-list {
  padding: 0;
  width: calc(100% - 0px);
  border-spacing: 2px;
  border-collapse: separate;
  padding: 0 15px 15px;
  thead {
    th {
      text-transform: uppercase;
      padding: 10px;
      background: #d5d5d5;
      font-weight: 400;
      &:first-child {
        text-align: center;
      }
      .sort,
      .asc,
      a.desc {
        color: #646464;
        position: relative;
      }
    }
  }
  tbody {
    tr {
      td {
        &:first-child {
          text-align: center;
        }
        padding: 5px 10px;
        border: 1px solid #dcdcdc;
        background: $bgWhite;
      }
    }
  }
}

.template {
  .card {
    @include transition(all 0.3s);
    .card-header {
      font-size: 18px;
      background-color: $white;
      border: none;
      font-weight: 400;
      padding: 15px;
    }
    .card-body {
      width: 100%;
      height: 300px;
      overflow: hidden;
      padding: 2px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top center;
      }
    }
    .card-footer {
      background-color: $white;
      border: none;
      font-weight: 400;
      padding: 15px;
    }
    &:hover {
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
  }
  .template-filter {
    background: $white;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    li {
      a {
        padding: 15px;
        display: block;
        border-bottom: 1px solid #ddd;
      }
      ul {
        margin-bottom: 0;
        li {
          .custom-control {
            border: none;
            padding: 15px 40px;
            cursor: pointer;
            .custom-control-label {
              display: block;
              cursor: pointer;
              &:before {
                width: 20px;
                height: 20px;
                top: 0;
                left: -30px;
              }
              &:after {
                width: 20px;
                height: 20px;
                top: 0;
                left: -30px;
              }
            }
            .custom-control-input:checked ~ .custom-control-label::before {
              border-color: $green;
              background: $green;
            }
          }
        }
      }
    }
  }
}

/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  /*Image only BG fallback*/

  /*background = gradient + image pattern combo*/
  background: linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));
}

body {
  font-family: montserrat, arial, verdana;
}
/*form styles*/
#msform {
  width: 400px;
  margin: 50px auto;
  text-align: center;
  position: relative;
}
#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;

  /*stacking fieldsets above each other*/
  position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}
/*inputs*/
#msform input,
#msform textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2c3e50;
  font-size: 13px;
}
/*buttons*/
#msform .action-button {
  width: 100px;
  background: #27ae60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}
#msform .action-button:hover,
#msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27ae60;
}
/*headings*/
.fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2c3e50;
  margin-bottom: 10px;
}
.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}
#progressbar li {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  width: 33.33%;
  float: left;
  position: relative;
}
#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #333;
  background: white;
  border-radius: 3px;
  margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
  background: #27ae60;
  color: white;
}
