@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url(https://fonts.googleapis.com/css?family=Montserrat);
*,
*:before,
*:after,
ul,
ol {
  padding: 0px;
  margin: 0;
  outline: 0px;
  border: 0px;
  text-decoration: none;
  list-style-type: none;
}

div.panel-block .tutorials ul,
.wrapper div.wrap-right .page-nav-right div.paging a,
.wrapper div.wrap-right div.page-nav .page-nav-left,
.wrapper div.wrap-right div.page-nav,
.wrapper div.wrap-right,
.header .nav-right li a,
.header .nav-right,
.header .nav-left li .hamburger,
.header .nav-left,
.header,
.login-container .login-box .login-wrap form ul li,
.login-container .login-box .login-wrap,
.login-container .login-box .welcome,
.login-container .login-box,
.login-container,
.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

html body {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.header .nav-left li .logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: left;
  display: block;
}

.wrapper .wrap-left .main-nav li a.add:after,
.wrapper .wrap-left .main-nav li a.add:before {
  content: "";
  width: 1px;
  height: 13px;
  background: #a0a0a0;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -0.5px;
  margin-top: -7px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(130, 130, 130, 0.3);
}

::-webkit-scrollbar-thumb {
  background: rgba(130, 130, 130, 0.5);
  padding: 0px 0px;
}

*,
*:before,
*:after,
ul,
ol {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 14px;
  width: 100%;
  height: 100%;
}
html body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #23282d;
  overflow: hidden;
  font-size: 1rem;
  background: #fff;
}

/*--------------------*/
a {
  color: #a0a0a0;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}
a:hover {
  color: rgb(0, 229, 234);
  text-decoration: none;
}
.link {
  color: #a0a0a0;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
  :hover: #008060;
}

a.button,
input.button,
button.button {
  display: inline-block;
  margin-right: 5px;
  height: 35px;
  line-height: 1;
  background-color: #23282d;
  padding: 12px 15px;
  color: #fff;
  border: 0px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 400;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  min-width: 80px;
  text-align: center;
}
a.button.dropdown-toggle,
input.button.dropdown-toggle,
button.button.dropdown-toggle {
  min-width: auto;
}
a.button:hover,
input.button:hover,
button.button:hover {
  background: rgb(0, 229, 234);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: inline-block;
  width: 100%;
  font-weight: 100;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.6rem;
}

tr {
  border-bottom: 1px solid #a0a0a0;
}

td {
  position: relative;
}

em {
  color: rgb(0, 229, 234);
}

input[type="text"],
input[type="password"],
textarea,
select {
  display: inline-block;
  width: 100%;
  height: 38px;
  border: 1px solid transparent;
  background: #fff;
  padding: 0px 10px;
  resize: none;
  font-size: 13px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #646464;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
input[type="text"]:disabled,
input[type="password"]:disabled,
textarea:disabled,
select:disabled {
  color: #a0a0a0;
}

::-webkit-input-placeholder {
  color: #a0a0a0;
}

::-moz-placeholder {
  color: #a0a0a0;
}

:-ms-input-placeholder {
  color: #a0a0a0;
}

:-moz-placeholder {
  color: #a0a0a0;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: white;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}

.loader {
  border: 16px solid #e5e5e5;
  border-radius: 50%;
  border-top: 16px solid rgb(0, 229, 234);
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.login-container {
  width: 100%;
  height: 100vh;
}
.login-container .login-box {
  align-items: stretch;
  width: 600px;
  box-shadow: 0px 0px 90px rgba(0, 0, 0, 0.05);
}
.login-container .login-box .welcome {
  width: 40%;
  padding: 20px 40px;
  background: #fff;
}
.login-container .login-box .welcome img {
  max-width: 100%;
}
.login-container .login-box .login-wrap {
  width: 60%;
  padding: 40px;
  background: #f5f5f5;
}
.login-container .login-box .login-wrap form {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
.login-container .login-box .login-wrap form ul {
  float: left;
  width: 100%;
  margin: 0px;
  padding: 0;
  list-style-type: none;
}
.login-container .login-box .login-wrap form ul li {
  float: left;
  width: 100%;
  margin: 0 0 15px 0;
  padding: 0;
  justify-content: flex-start;
}
.login-container .login-box .login-wrap form ul li:last-child {
  margin-bottom: 0;
}
.login-container .login-box .login-wrap form ul li a {
  margin-left: 15px;
}
.sign-up-wrap {
  background: "red";
}

/* Dashboard CSS */
.header {
  justify-content: space-between;
  background: #f5f5f5;
  height: 60px;
  padding: 5px 0px 5px 20px;
  border-bottom: 1px solid #ddd;
}
.header .nav-left li .hamburger {
  float: left;
  width: 24px;
  height: 21px;
  position: relative;
  margin-right: 15px;
}
.header .nav-left li .hamburger span {
  width: 100%;
  height: 2px;
  display: block;
  background: #a0a0a0;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.header .nav-left li .hamburger:hover span {
  background: rgb(0, 229, 234);
}
.header .nav-left li .logo {
  float: left;
  height: 35px;
  width: 112px;
}
.header .nav-right li a {
  padding: 15px;
  color: #646464;
}
.header .nav-right li a.store-front .svg-inline--fa {
  font-size: 20px;
}
.header .nav-right li a.admin .svg-inline--fa.fa-chevron-down {
  font-size: 12px;
  margin-left: 5px;
  margin-right: 0;
  margin-top: 2px;
}
.header .nav-right li a .svg-inline--fa {
  font-size: 24px;
  margin-right: 5px;
  color: #a0a0a0;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.header .nav-right li a:hover {
  color: rgb(0, 229, 234);
}
.header .nav-right li a:hover .svg-inline--fa {
  color: rgb(0, 229, 234);
}

.admin-nav {
  float: left;
  max-width: 250px;
  width: 100%;
  position: fixed;
  right: -250px;
  top: 63px;
  border: 1px solid #f5f5f5;
  padding: 0px;
  z-index: 9999;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  background: #fff;
}
.admin-nav ul {
  float: left;
  width: 100%;
}
.admin-nav ul li {
  float: left;
  width: 100%;
  border-bottom: 1px solid #f5f5f5;
  margin-bottom: 0px;
  background: rgba(255, 255, 255, 0.9);
}
.admin-nav ul li a {
  float: left;
  width: 100%;
  padding: 15px;
  font-size: 13px;
  text-transform: uppercase;
  color: #646464;
}
.admin-nav ul li a .svg-inline--fa {
  font-size: 16px;
  margin-right: 5px;
  color: #a0a0a0;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.admin-nav ul li a:hover {
  color: rgb(0, 229, 234);
}
.admin-nav ul li a:hover .svg-inline--fa {
  color: rgb(0, 229, 234);
}
.admin-nav ul li:last-child {
  border-bottom: 0;
}
.admin-nav.active {
  right: 4px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.search-data {
  float: left;
  max-width: 250px;
  width: 100%;
  position: fixed;
  right: -250px;
  top: 63px;
  border: 1px solid #f5f5f5;
  padding: 0px;
  z-index: 9;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  background: #f5f5f5;
}
.search-data ul {
  float: left;
  width: 100%;
}
.search-data ul li {
  float: left;
  width: 100%;
  border-bottom: 1px solid #f5f5f5;
  margin-bottom: 0px;
  padding: 5px;
}
.search-data ul li input,
.search-data ul li select {
  border: 1px solid #f5f5f5;
}
.search-data ul li input.button {
  width: calc(100% / 2 - 5px);
  float: left;
  border: none;
}
.search-data ul:last-child {
  border-bottom: 0;
}
.search-data.active {
  right: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* WRAP-LEFT CSS */
.wrapper {
  display: flex;
  height: calc(100% - 60px);
  flex-flow: row wrap;
  position: relative;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.wrapper .wrap-left {
  width: 250px;
  order: 2;
  height: calc(100% - 0px);
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  background: #fff;
  border-right: 1px solid #ddd;
}
.wrapper .wrap-left .main-nav {
  float: left;
  width: 100%;
  position: relative;
  z-index: 2;
}
.wrapper .wrap-left .main-nav li {
  float: left;
  width: 100%;
  position: relative;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.wrapper .wrap-left .main-nav li a {
  float: left;
  width: calc(100% - 0px);
  line-height: 15px;
  padding: 15px 45px 15px 20px;
  text-transform: uppercase;
  position: relative;
  font-size: 14px;
  color: #646464;
  min-height: 42px;
}
.wrapper .wrap-left .main-nav li a.add,
.wrapper .wrap-left .main-nav li a.down-arrow {
  padding: 0px;
  width: 45px;
  height: 45px;
  float: right;
  font-weight: 100;
  line-height: 45px;
  text-align: center;
  font-size: 34rem;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background: rgba(255, 255, 255, 0.6);
  border: 0;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.wrapper .wrap-left .main-nav li a.add:before {
  width: 19px;
  height: 1px;
  margin-top: 0px;
  margin-left: -9px;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.wrapper .wrap-left .main-nav li a.add:after {
  width: 1px;
  height: 19px;
  margin-top: -9px;
  margin-left: 0px;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.wrapper .wrap-left .main-nav li a.down-arrow:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: 50%;
  top: 50%;
  margin-top: -10px;
  margin-left: -6px;
  transform: rotate(45deg);
  border-right: 1px solid #a0a0a0;
  border-bottom: 1px solid #a0a0a0;
  -webkit-transition: all 7s;
  -ms-transition: all 7s;
  transition: all 7s;
}
.wrapper .wrap-left .main-nav li a.down-arrow:hover:after {
  border-color: #fff;
}
.wrapper .wrap-left .main-nav li a.add:hover:before,
.wrapper .wrap-left .main-nav li a.add:hover:after {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.wrapper .wrap-left .main-nav li ul {
  float: left;
  width: 100%;
  display: none;
  margin-top: 5px;
}
.wrapper .wrap-left .main-nav li ul li {
  margin: 0px 0px 4px 0px;
}
.wrapper .wrap-left .main-nav li ul li:last-child {
  border: 0px;
  margin: 0;
}
.wrapper .wrap-left .main-nav li ul li a {
  background-color: rgba(220, 220, 220, 0.5);
}
.wrapper .wrap-left .main-nav li ul li ul {
  float: left;
  width: 100%;
  display: none;
  margin-top: 5px;
}
.wrapper .wrap-left .main-nav li ul li ul li {
  margin: 0px 0px 4px 0px;
}
.wrapper .wrap-left .main-nav li ul li ul li:last-child {
  border: 0px;
  margin: 0;
}
.wrapper .wrap-left .main-nav li ul li ul li a {
  background-color: rgba(220, 220, 220, 0.5);
}
.wrapper .wrap-left .main-nav li ul li ul {
  float: left;
  width: 100%;
  display: none;
  margin-top: 5px;
}
.wrapper .wrap-left .main-nav li ul li ul li {
  margin: 0px 0px 4px 0px;
}
.wrapper .wrap-left .main-nav li ul li ul li:last-child {
  border: 0px;
  margin: 0;
}
.wrapper .wrap-left .main-nav li ul li ul li a {
  background-color: rgba(220, 220, 220, 0.5);
}
.wrapper .wrap-left .main-nav li ul li ul li ul {
  float: left;
  width: 100%;
  display: none;
  margin-top: 5px;
}
.wrapper .wrap-left .main-nav li ul li ul li ul li {
  margin: 0px 0px 4px 0px;
}
.wrapper .wrap-left .main-nav li ul li ul li ul li:last-child {
  border: 0px;
  margin: 0;
}
.wrapper .wrap-left .main-nav li ul li ul li ul li a {
  background-color: rgba(220, 220, 220, 0.5);
}
.wrapper .wrap-left .main-nav li:hover a,
.wrapper .wrap-left .main-nav li.active a {
  background: #f5f5f5;
  color: rgb(0, 229, 234);
}
.wrapper .wrap-left .main-nav li:hover a.add,
.wrapper .wrap-left .main-nav li.active a.add {
  background: rgb(0, 229, 234);
}
.wrapper .wrap-left .main-nav li:hover a.add:before,
.wrapper .wrap-left .main-nav li:hover a.add:after,
.wrapper .wrap-left .main-nav li.active a.add:before,
.wrapper .wrap-left .main-nav li.active a.add:after {
  background: #fff;
}
.wrapper .wrap-left .main-nav li:hover a.down-arrow,
.wrapper .wrap-left .main-nav li.active a.down-arrow {
  background: rgb(0, 229, 234);
}
.wrapper .wrap-left .main-nav li:hover a.down-arrow:after,
.wrapper .wrap-left .main-nav li.active a.down-arrow:after {
  border-color: #fff;
}
.wrapper .wrap-left .main-nav li:hover ul li a,
.wrapper .wrap-left .main-nav li.active ul li a {
  background: rgba(220, 220, 220, 0.5);
  color: #646464;
}
.wrapper .wrap-left .main-nav li:hover ul li a.add,
.wrapper .wrap-left .main-nav li.active ul li a.add {
  background: rgba(220, 220, 220, 0.5);
}
.wrapper .wrap-left .main-nav li:hover ul li a.add:before,
.wrapper .wrap-left .main-nav li:hover ul li a.add:after,
.wrapper .wrap-left .main-nav li.active ul li a.add:before,
.wrapper .wrap-left .main-nav li.active ul li a.add:after {
  background: #a0a0a0;
}
.wrapper .wrap-left .main-nav li:hover ul li a.down-arrow,
.wrapper .wrap-left .main-nav li.active ul li a.down-arrow {
  background: rgba(220, 220, 220, 0.5);
}
.wrapper .wrap-left .main-nav li:hover ul li a.down-arrow:after,
.wrapper .wrap-left .main-nav li.active ul li a.down-arrow:after {
  border-color: #a0a0a0;
}
.wrapper .wrap-left .main-nav li:hover ul li.active a,
.wrapper .wrap-left .main-nav li.active ul li.active a {
  background: #fff;
}
.wrapper .wrap-left .main-nav li:hover ul li.active a.down-arrow,
.wrapper .wrap-left .main-nav li.active ul li.active a.down-arrow {
  background: rgb(0, 229, 234);
}
.wrapper .wrap-left .main-nav li:hover ul li.active a.down-arrow:after,
.wrapper .wrap-left .main-nav li.active ul li.active a.down-arrow:after {
  border-color: #fff;
}
.wrapper .wrap-left .main-nav li:hover ul li.active ul li a,
.wrapper .wrap-left .main-nav li.active ul li.active ul li a {
  background: rgba(220, 220, 220, 0.5);
}
.wrapper .wrap-left .main-nav li:hover ul li:hover a,
.wrapper .wrap-left .main-nav li.active ul li:hover a {
  color: rgb(0, 229, 234);
}
.wrapper .wrap-left .main-nav li:hover ul li:hover a.add:hover,
.wrapper .wrap-left .main-nav li.active ul li:hover a.add:hover {
  background: rgb(0, 229, 234);
}
.wrapper .wrap-left .main-nav li:hover ul li:hover a.add:hover:before,
.wrapper .wrap-left .main-nav li:hover ul li:hover a.add:hover:after,
.wrapper .wrap-left .main-nav li.active ul li:hover a.add:hover:before,
.wrapper .wrap-left .main-nav li.active ul li:hover a.add:hover:after {
  background: #fff;
}
.wrapper .wrap-left .main-nav li:hover ul li:hover a.add:before,
.wrapper .wrap-left .main-nav li:hover ul li:hover a.add:after,
.wrapper .wrap-left .main-nav li.active ul li:hover a.add:before,
.wrapper .wrap-left .main-nav li.active ul li:hover a.add:after {
  background: rgb(0, 229, 234);
}
.wrapper .wrap-left .main-nav li:hover ul li:hover a.down-arrow,
.wrapper .wrap-left .main-nav li.active ul li:hover a.down-arrow {
  background: rgb(0, 229, 234);
}
.wrapper .wrap-left .main-nav li:hover ul li:hover a.down-arrow:after,
.wrapper .wrap-left .main-nav li.active ul li:hover a.down-arrow:after {
  border-color: #fff;
}
.wrapper .wrap-left .main-nav li:hover ul li:hover ul li a,
.wrapper .wrap-left .main-nav li.active ul li:hover ul li a {
  background: rgba(220, 220, 220, 0.5);
  color: #646464;
}
.wrapper .wrap-left .main-nav li:hover ul li:hover ul li a.add,
.wrapper .wrap-left .main-nav li.active ul li:hover ul li a.add {
  background: rgba(220, 220, 220, 0.5);
}
.wrapper .wrap-left .main-nav li:hover ul li:hover ul li a.add:before,
.wrapper .wrap-left .main-nav li:hover ul li:hover ul li a.add:after,
.wrapper .wrap-left .main-nav li.active ul li:hover ul li a.add:before,
.wrapper .wrap-left .main-nav li.active ul li:hover ul li a.add:after {
  background: #a0a0a0;
}
.wrapper .wrap-left .main-nav li:hover ul li:hover ul li a.down-arrow,
.wrapper .wrap-left .main-nav li.active ul li:hover ul li a.down-arrow {
  background: rgba(220, 220, 220, 0.5);
}
.wrapper .wrap-left .main-nav li:hover ul li:hover ul li.active a,
.wrapper .wrap-left .main-nav li.active ul li:hover ul li.active a {
  background: #fff;
}
.wrapper .wrap-left .main-nav li:hover ul li:hover ul li.active a.down-arrow,
.wrapper .wrap-left .main-nav li.active ul li:hover ul li.active a.down-arrow {
  background: rgb(0, 229, 234);
}
.wrapper .wrap-left .main-nav li:hover ul li:hover ul li.active ul li a,
.wrapper .wrap-left .main-nav li.active ul li:hover ul li.active ul li a {
  background: rgba(220, 220, 220, 0.5);
}
.wrapper .wrap-left .main-nav li:hover ul li:hover ul li:hover a,
.wrapper .wrap-left .main-nav li.active ul li:hover ul li:hover a {
  color: rgb(0, 229, 234);
}
.wrapper .wrap-left .main-nav li:hover ul li:hover ul li:hover a.add:hover,
.wrapper .wrap-left .main-nav li.active ul li:hover ul li:hover a.add:hover {
  background: rgb(0, 229, 234);
}
.wrapper
  .wrap-left
  .main-nav
  li:hover
  ul
  li:hover
  ul
  li:hover
  a.add:hover:before,
.wrapper
  .wrap-left
  .main-nav
  li:hover
  ul
  li:hover
  ul
  li:hover
  a.add:hover:after,
.wrapper
  .wrap-left
  .main-nav
  li.active
  ul
  li:hover
  ul
  li:hover
  a.add:hover:before,
.wrapper
  .wrap-left
  .main-nav
  li.active
  ul
  li:hover
  ul
  li:hover
  a.add:hover:after {
  background: #fff;
}
.wrapper .wrap-left .main-nav li:hover ul li:hover ul li:hover a.add:before,
.wrapper .wrap-left .main-nav li:hover ul li:hover ul li:hover a.add:after,
.wrapper .wrap-left .main-nav li.active ul li:hover ul li:hover a.add:before,
.wrapper .wrap-left .main-nav li.active ul li:hover ul li:hover a.add:after {
  background: rgb(0, 229, 234);
}
.wrapper div.wrap-right {
  align-content: flex-start;
  flex-direction: row;
  order: 4;
  display: flex;
  flex: 1;
  margin: 0;
  height: calc(100% - 0px);
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  padding-left: 250px;
  width: 100%;
  background: #f5f5f5;
}
.wrapper div.wrap-right div.page-nav {
  justify-content: space-between;
  height: 50px;
  width: 100%;
  padding: 6px;
  background: #fff;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
}
.wrapper div.wrap-right div.page-nav .page-action {
  float: left;
  border-right: 1px solid rgb(0, 229, 234);
  padding-right: 15px;
  margin-right: 6px;
}
.wrapper div.wrap-right div.page-nav h1.pg-ttl {
  width: auto;
  height: 20px;
  line-height: 24px;
  font-size: 18px;
  text-transform: uppercase;
  color: rgb(0, 229, 234);
  font-weight: 400;
  padding-left: 8px;
  margin: 0;
}
.wrapper div.wrap-right .page-nav-right {
  display: flex;
  align-items: center;
}
.wrapper div.wrap-right .page-nav-right div.paging {
  display: flex;
  align-items: center;
  padding: 0px 15px;
  border-left: 1px solid #eeeded;
}
.wrapper div.wrap-right .page-nav-right div.paging a {
  width: 27px;
  height: 27px;
}
.wrapper div.wrap-right .page-nav-right div.paging a.next {
  background-color: #f5f5f5;
  -webkit-border-radius: 0px 5px 5px 0px;
  -moz-border-radius: 0px 5px 5px 0px;
  border-radius: 0px 5px 5px 0px;
  border-left: none;
}
.wrapper div.wrap-right .page-nav-right div.paging a.prev {
  background-color: #f5f5f5;
  -webkit-border-radius: 5px 0px 0px 5px;
  -moz-border-radius: 5px 0px 0px 5px;
  border-radius: 5px 0px 0px 5px;
  margin-right: 1px;
}
.wrapper div.wrap-right .page-nav-right div.paging a.no-next {
  background-color: #f5f5f5;
  -webkit-border-radius: 0px 5px 5px 0px;
  -moz-border-radius: 0px 5px 5px 0px;
  border-radius: 0px 5px 5px 0px;
  border-left: none;
}
.wrapper div.wrap-right .page-nav-right div.paging a.no-prev {
  background-color: #f5f5f5;
  -webkit-border-radius: 5px 0px 0px 5px;
  -moz-border-radius: 5px 0px 0px 5px;
  border-radius: 5px 0px 0px 5px;
  margin-right: 1px;
}
.wrapper div.wrap-right .page-nav-right div.paging .result {
  padding: 0 10px;
}
.wrapper div.wrap-right .page-nav-right div.paging .show-rec {
  width: 35px;
  height: 23px;
  padding: 2px;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  background: #f5f5f5;
}
.wrapper div.wrap-right .wrap-data {
  width: 100%;
  height: calc(100% - 50px);
  overflow: auto;
  overflow-y: auto;
  padding: 20px 5px 0 5px;
}
.wrapper div.wrap-right .wrap-data .row {
  margin: 0;
  margin-bottom: 30px;
}
.wrapper.active .wrap-left {
  left: -250px;
}
.wrapper.active .wrap-right {
  padding-left: 0;
}

.counter-box {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
}
.counter-box li h3 {
  float: left;
  width: 100%;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  position: relative;
  z-index: 1;
}
.counter-box li h5 {
  float: left;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  z-index: 1;
  margin-bottom: 15px;
}
.counter-box li div {
  float: left;
  width: 100%;
  height: 100%;
  background: white;
  padding: 10px;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}
.counter-box li div:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.panel-block {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
}
.panel-block h4 {
  font-size: 24px;
  font-weight: 500;
}
.panel-block .media {
  align-items: center;
  float: left;
  width: 100%;
  padding: 15px;
  background: #fff;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}
.panel-block .media:last-child {
  border-right: none;
}
.panel-block .media .media-img {
  margin-right: 15px;
  font-size: 40px;
  color: rgb(0, 229, 234);
  float: left;
}
.panel-block .media .media-body {
  float: left;
}
.panel-block .media .media-footer {
  float: right;
}
.panel-block .media:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

div.panel-block .tutorials {
  background: #fff;
  padding: 15px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}
div.panel-block .tutorials h4 {
  margin-bottom: 30px;
  text-align: center;
}
div.panel-block .tutorials ul {
  width: 100%;
}
div.panel-block .tutorials ul li .button {
  padding: 15px;
  height: auto;
  width: 100%;
}
div.panel-block.video {
  height: 477px;
  width: 100%;
}
div.panel-block.video iframe {
  width: 100%;
  height: 100%;
}

.trial-bottom {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 9;
  text-align: center;
  background: rgb(0, 229, 234);
  padding: 15px;
}
.trial-bottom p {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}
.trial-bottom p a {
  font-size: 14px;
  margin-left: 10px;
}

table.tbl-list {
  padding: 0;
  width: calc(100% - 0px);
  border-spacing: 2px;
  border-collapse: separate;
  padding: 0 15px 15px;
}
table.tbl-list thead th {
  text-transform: uppercase;
  padding: 10px;
  background: #d5d5d5;
  font-weight: 400;
}
table.tbl-list thead th:first-child {
  text-align: center;
}
table.tbl-list thead th .sort,
table.tbl-list thead th .asc,
table.tbl-list thead th a.desc {
  color: #646464;
  position: relative;
}
table.tbl-list tbody tr td {
  padding: 5px 10px;
  border: 1px solid #dcdcdc;
  background: rgba(255, 255, 255, 0.6);
}
table.tbl-list tbody tr td:first-child {
  text-align: center;
}

.template .card {
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.template .card .card-header {
  font-size: 18px;
  background-color: #fff;
  border: none;
  font-weight: 400;
  padding: 15px;
}
.template .card .card-body {
  width: 100%;
  height: 300px;
  overflow: hidden;
  padding: 2px;
}
.template .card .card-body img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}
.template .card .card-footer {
  background-color: #fff;
  border: none;
  font-weight: 400;
  padding: 15px;
}
.template .card:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.template .template-filter {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.template .template-filter li a {
  padding: 15px;
  display: block;
  border-bottom: 1px solid #ddd;
}
.template .template-filter li ul {
  margin-bottom: 0;
}
.template .template-filter li ul li .custom-control {
  border: none;
  padding: 15px 40px;
  cursor: pointer;
}
.template .template-filter li ul li .custom-control .custom-control-label {
  display: block;
  cursor: pointer;
}
.template
  .template-filter
  li
  ul
  li
  .custom-control
  .custom-control-label:before {
  width: 20px;
  height: 20px;
  top: 0;
  left: -30px;
}
.template
  .template-filter
  li
  ul
  li
  .custom-control
  .custom-control-label:after {
  width: 20px;
  height: 20px;
  top: 0;
  left: -30px;
}
.template
  .template-filter
  li
  ul
  li
  .custom-control
  .custom-control-input:checked
  ~ .custom-control-label::before {
  border-color: rgb(0, 229, 234);
  background: rgb(0, 229, 234);
}

/*custom font*/
/*basic reset*/
* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  /*Image only BG fallback*/
  /*background = gradient + image pattern combo*/
  background: linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));
}

body {
  font-family: montserrat, arial, verdana;
}

/*form styles*/
#msform {
  width: 400px;
  margin: 50px auto;
  text-align: center;
  position: relative;
}

#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;
  /*stacking fieldsets above each other*/
  position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}

/*inputs*/
#msform input,
#msform textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2c3e50;
  font-size: 13px;
}

/*buttons*/
#msform .action-button {
  width: 100px;
  background: #27ae60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#msform .action-button:hover,
#msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27ae60;
}

/*headings*/
.fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2c3e50;
  margin-bottom: 10px;
}

.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}

#progressbar li {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  width: 33.33%;
  float: left;
  position: relative;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #333;
  background: white;
  border-radius: 3px;
  margin: 0 auto 5px auto;
}

/*progressbar connectors*/
#progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1;
  /*put it behind the numbers*/
}

#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
  background: #27ae60;
  color: white;
}

/*# sourceMappingURL=style.css.map */
